%h3 Rails
%table.table.table-striped
  %thead
    %tr
      %th
      %th Board
      %th Misses
  %tbody
    - @hangmen.each do |game|
      %tr
        %td
          - if game.finished?
            = link_to 'View', game, class: 'btn btn-default'
          - else
            = link_to 'Play', game, class: 'btn btn-primary'
        %td= game.board
        %td
          = "#{game.misses}/#{game.max_misses}"
          - if game.won?
            %span.label.label-success Won
          - elsif game.lost?
            %span.label.label-danger Lost
    %tr
      %td{ colspan: 3 }
        = link_to 'New Game', hangmen_path, method: :post, class: 'btn btn-success btn-large'

%h3 Angular
%table.table.table-striped{ "ng-init" => "hangmen = #{@hangmen.to_json}"}
  %thead
    %tr
      %th
      %th Guessed
      %th Misses
  %tbody
    %tr{ "ng-repeat" => "game in hangmen"}
      %td
        %a.btn.btn-default{ "ng-href" => "game.id" } View
      %td
        {{ game.guessed }}
      %td
        {{game.misses}}/{{game.max_misses}}
    %tr
      %td{ colspan: 3 }
        = link_to 'New Game', hangmen_path, method: :post, class: 'btn btn-success btn-large'
